.nvrf-app-container .usa-button {
    line-height: 1.2;
}
@media only screen and (max-width: 639px) {
    .nvrf-app-container .mobile-width {
        width: 100%;
        max-width: 480px;
    }
}
.nvrf-app-container .grid-container-tablet {
    max-width: 720px;
}
.nvrf-app-container hr {
    border: 0;
    border-top: 1px solid #adadad;
}
.nvrf-app-container .usa-form .usa-input {
    max-width: 480px;
}
.nvrf-app-container .edit-btn {
    margin-left: 8px;
    margin-top: 37px;
}
.nvrf-app-container fieldset + .usa-hint {
    margin-top: 0.5rem;
}
.nvrf-app-container .error-container {
    border-left: 3px solid #b50909;
    padding-left: 15px;
}
.nvrf-app-container .error-text {
    color: #b50909;
    font-size: 1rem;
    margin-top: 0.5rem;
    display: block;
}
.nvrf-app-container .usa-step-indicator__header {
    position: absolute;
    text-indent: -9000px;
    overflow: hidden;
}

#touchpoints-form-embed .fba-modal-dialog {
    margin: 0;
}