.content-container {
    padding: 30px;
    border: 1px solid #162E51;
    height: 350px;
    position: relative;
}

.content-container h3 {
    margin-top: 0;
}

.button-container {
    margin-bottom: auto
}

.button-container button {
    bottom: 30px;
    left: 30px;
    right: 30px;
    position: absolute;
}

.justify-height > div > div {
    height: 100%;
}