.vote-error-container {
  border-left: 3px solid #b50909;
  padding-left: 1rem;
}

.vote-error-container .vote-error-text {
  display: block;
}

.vote-error-text {
  color: #b50909;
  font-size: 1rem;
  margin-top: 0.5rem;
  display: none;
}

.usa-button.usa-button--small {
  padding: 0.6rem 0.8rem !important;
}