.vote-error-container {
    border-left: 3px solid #b50909 !important;
    padding-left: 1rem !important;
}

.vote-error-container .vote-error-text {
    display: block;
}

.vote-error-text {
    color: #b50909;
    font-size: 1rem;
    margin-top: 0.5rem;
    display: none;
}